.Container {
    display: grid;
    grid-template-areas:
        'header'
        'hr'
        'search'
        'result';
}

.Header {
    grid-area: header;
    height: 100px;
    display: flex;
    justify-content: center;
}

hr {
    grid-area: hr;
}

.Search {
    grid-area: search;
    height: 400px;
    display: flex;
    justify-content: center;
}

.Result {
    grid-area: result;
    height: 500px;
}

.HeaderText {
    font-size: 1.25rem;
    color: #677510;
    font-weight: 700;
}

.myNav {
    width: 90%;
    display: flex;
    align-items: center;
}

.Logo {
    min-width: 95px;
}

.FiveText {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}

.LoginBut {
    background-color: #B5CC22;
    width: 85px;
    height: 40px;
    border-radius: 100px;
    color: white;
    font-size: 1.2rem;
}

.LoginButDiv {
    flex-grow: 1;
    display: flex;
    justify-content: end;
}