::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: #e5e5e5;
    border-radius: 3px;
}

.ResulContainer {
    width: 90%;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.Title {
    background-color: #B5CC22;
    height: 65px;
    border-radius: 25px 25px 0 0;
    display: flex;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    align-items: center;
}

.City,
.Region,
.Borrow,
.Return {
    display: flex;
    justify-content: center;
}

.City {
    width: 15%;
}

.Region {
    width: 15%;
}

.Borrow,
.Return {
    width: 20%;
}

.StationName {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.ShowData {
    height: 400px;
}

.DataRow {
    margin-top: 10px;
    display: flex;
    align-items: center;
    height: 70px;
    font-size: 1.2rem;
}

.DataRow:nth-of-type(odd) {
    background-color: white;
}

.DataRow:nth-of-type(even) {
    background-color: #F6F6F6;
}


.NumStyle {
    position: relative;
    left: 5px;
    color: #B5CC22;
    font-weight: 600;
}

.SortIcon {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width:768px) {

    .City,
    .Region,
    .Borrow,
    .Return,
    .StationName {
        width: 20%;
    }

    .Title {
        font-size: 1rem;
    }

    .DataRow {
        font-size: 0.9rem;
    }

    .SortIcon {
        margin: 0;
    }
}